*~
\#*
.#*
*.pyc
*.ropeproject/*
/blogofobe.egg-info/*
/build/*
/dist/*
/blogofobe/.ropeproject*
/blogofobe/site_init/*.zip
/blogofobe/test_py2/*
_site/*
docs/_build
/.tox/*
/MANIFEST
/.coverage
/blogofobe/tests/plugin/plugin_test/blogofobe_plugin_test.egg-info/*
/blogofobe/tests/plugin/plugin_test/build/*
blogofobe.sublime-project
blogofobe.sublime-workspace
